body {
    padding: 10px;
}

h2 {
    color: dodgerblue;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: dodgerblue;
    
}

div#listing-title {
    margin-left:15px;
}

.img-responsive {
    width : 200px;
    height : 200px;

}

input#comment {
    width:200px;
    height:80px;
}

.btn-primary {
    margin-top:10px;
    margin:10px;
    width:100%;
}